<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Dinh Bao's Blog - A developer who can run a marathon</title>

    <link rel="stylesheet" href="/static/css/coming_soon.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles/debug.css" type="text/css" /> -->

</head>
<body>

<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="wrapper has-text-centered">

            <div class="brand">
                <img src="/static/images/baobao18-color/baobao18-color@2x.png">
            </div>
            <div class="is-size-1 baobao-title">
                <a href="https://www.facebook.com/dinhbao.le.35" target="_blank" class="male-link">BẢO BẢO</a> & <a href="#" class="female-link">BÌN BÌN</a>
            </div>
            <div class="is-size-1">ARE WORKING ON THIS.</div>
            <div class="social">

            </div>

            <div>
                <nav class="footnav" role="navigation" aria-label="footer navigation">
                        <div class="navbar-menu">
                            <div class="navbar">
                                <a class="navbar-item" href="#">Lê Đình Bảo © 2020</a>
                                <a class="navbar-item" href="https://golang.org/">golang</a>
                                <a class="navbar-item" href="https://github.com/gin-gonic/gin">gin-gonic</a>
                                <a class="navbar-item" href="https://sass-lang.com/">sass</a>
                                <a class="navbar-item" href="https://bulma.io/">bulma</a>
                    
                            </div>
                        </div>
                </nav>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>