[Unit]
Description=Service for blog ledinhbao.com
After=network.target

[Service]
Type=simple
User=root
WorkingDir=
ExecStart=
Restart=on-abort

[Install]
WantedBy=multi-user.target