<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/custom-style.css">
    <style>
        .grid {
            display: grid;
            grid-template-columns: [xl-start] 1fr 1.5em [md-start] minmax(0, 624px) [md-end] 1.5em 1fr [xl-end];
        }
        .grid *  { grid-column: md; }
        .grid-xl { grid-column: xl; }
    </style>
</head>
<body>
    {{ include "layout/admin-navbar" }}

    {{ template "content" . }}

    {{ include "layout/admin-footer" }}
</body>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>