{{ define "admin-navbar" }}


<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">

    <!-- container -->
    <div class="container">

        <!-- navbar-brand -->
        <div class="navbar-brand">
            <a class="navbar-item" href="/admin/dashboard">
                <img src="/static/images/baobao18.png" height="28">
            </a>
    
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <!-- END navbar-brand -->
    
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        <a class="navbar-item">
            Dashboard
        </a>
    
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            More
            </a>
    
            <div class="navbar-dropdown">
            <a class="navbar-item">
                About
            </a>
            <a class="navbar-item">
                Jobs
            </a>
            <a class="navbar-item">
                Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
                Report an issue
            </a>
            </div>
        </div>
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                <a class="button is-info">Logout</a>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- END .container -->

</nav>

{{ end }}