<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/custom-styles.css">

    <title>Unauthorized</title>
</head>
<body>
    
<section class="section">

    <div class="hero is-fullheight ">
        <p class="Title">UNAUTHORIZED!</p>
    </div>

</section>

</body>
</html>